body {
	width: auto;
	height: 400px;
	background-color: #333333;
		display: flex;
		align-items: center;
		justify-content: center;
}
h1 {
	text-align: center;
}
#clock {
	width: 360px;
	height: 360px;
	background-color: #3399FF;
}
.center {
	text-align: center;
	margin: auto;
}
input {
	width: 32px;
}
#timeDisplay{
	font-size: 3em;
}
#timeBox {
	width: 140px;
	height: 3em;
	background-color: #2086E0;
	text-align: center;
	margin: auto;
	padding-top: 30px;
		justify-content: center;
		align-items: center;
}
#timeX {
	float: left;
	padding-left: 1em;
}
#restX {
	float: right;
	padding-right: 1em;
}
