.flex-container {
	display: flex;
	align-items: center;
	justify-content: center;
	text-align: center;
	margin: auto;
}
body {
	width: auto;
	background-color: #333333;
}
h1 {
	text-align: center;
}
input {
	width: 32px;
}
#clock {
	width: 360px;
	height: 360px;
	background-color: #3399FF;
}
#timeDisplay{
	font-size: 3em;
}
#timeBox {
	width: 60%;
	/*height: 3em;*/
	background-color: #2086E0;
	text-align: center;
	margin: auto;
}
